
/* Dark Theme */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark-theme {
    background-color: #252525;
    color: #ffffff;
  
  }
  
  .new_amsterdam_custom_font {
    font-family: 'New Amsterdam', sans-serif;
    }
  
  .custom_padding{
    padding: 10px 50px 50px 50px;
  }

  .display_none_desktop{
    display: none !important;
  }

  .display_none_mobile {
    display: block !important;
  }

  @media screen and (max-width: 768px) {
  

    .display_none_desktop{
      display: block !important;
    }

    .display_none_mobile {
      display: none !important;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    .font_heading_custom_size{
      font-size: 25px !important;
    }

    .display_none_desktop{
      display: block !important;
    }

    .display_none_mobile {
      display: none !important;
    }
    
  
    .custom_padding{
      padding: 10px 25px 10px 25px;
    }
  
    .main-banner-shape {
      .shape-1 {
          position: absolute;
          left: 18% !important;
          top: 62% !important;
          z-index: 1;
          animation: moveBounce_oppo 11s infinite linear;
          max-width: 50px;
      }
      .shape-2 {
          position: absolute;
          left: 60%;
          top: 70% !important;
          z-index: 1;
          max-width: 50px;
          transform: rotate(20deg);
          animation: moveBounce 5s linear infinite;
          img {
            animation-name: rotateMe;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
      }
      .shape-3 {
          position: absolute;
          left: 35%;
          bottom: 10% !important;
          z-index: 1;
          max-width: 50px;
          animation: moveLeftBounce 12s linear infinite;
          img {
              animation-name: rotateMe;
              animation-duration: 10s;
              animation-iteration-count: infinite;
              animation-timing-function: linear;
          }
      }
    }
  }
  
  .font_heading_custom_size{
    font-size: 55px;
  }
  
  .glass{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.144);
border-radius: 16px;

backdrop-filter: blur(3.1px);
-webkit-backdrop-filter: blur(3.1px);
  }
  .sample{
    border: 1px solid hsl(0, 0%, 100%);
    // background-color: #252525;
    background-image: url(^assets/bg1.png);
    background-size: cover;
    background-attachment: fixed;

  }
  
  .sample-dark-theme{
    border: 1px solid #000000;
    background-image: url(^assets/bglite2.png);
    background-size: cover;
    background-attachment: fixed;
  }

  .Contact_bg{
    background: linear-gradient(90deg,#3f2844 30%, #252525 30%);


  }
  
  .Contact_bg_dark{
    background: linear-gradient(90deg,#d8d8d8 30%, #f5f5f5 30%);

  }
  
  
  .main-banner-shape {
    .shape-1 {
        position: absolute;
        left: 36%;
        top: 42%;
        z-index: 1;
        animation: moveBounce_oppo 11s infinite linear;
        width: 25px;
    }
    .shape-2 {
        position: absolute;
        left: 60%;
        top: 50%;
        z-index: 1;
        max-width: 25px;
        transform: rotate(20deg);
        animation: moveBounce 5s linear infinite;
        img {
          animation-name: rotateMe;
          animation-duration: 10s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          
      }
    }
    .shape-3 {
        position: absolute;
        left: 35%;
        bottom: 18%;
        z-index: 1;
        max-width: 25px;
        animation: moveLeftBounce 12s linear infinite;
        img {
            animation-name: rotateMe;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
  }
  
  
  @keyframes rotateMe {
    0% {
      transform: rotateY(0deg);
  }
  100% {
      transform: rotateY(360deg);
  }
  }
  
  @keyframes moveBounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
  }
  
  @keyframes moveBounce_oppo {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
  }
  
  @keyframes moveLeftBounce {
    0% {
        transform: translate(0px, 0px); 
    }
    50% {
        transform: translate(-34.64px, -20px); /* Move along a 30-degree angle */
    }
    100% {
        transform: translate(0px, 0px); /* Return to the original position */
    }
  }
  
  .animated-scroll {
    display: inline-block;
    animation: scroll-left-right 12s linear infinite;
  }
  
  @keyframes scroll-left-right {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
  }
  
  


  .title {
    font-size: max(2vw, 24px);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  }
  
  .text {
    font-size: max(1vw, 15px);
    line-height: 1.4;
    overflow: hidden;    
    padding-bottom: 20px;
  }
  
  // .accordions {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   padding-bottom: 20vh;
  // }
  
  .accordion {
    background: linear-gradient(200deg, rgb(29, 145, 252) 13.57%, rgb(90, 54, 192) 98.38%);
    // width: max(50vw, 280px);
    padding: 15px 15px 10px;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 30px 30px -10px rgba(0, 0, 0, .3);
    
  }
  
  .accordion:nth-child(2) {
    background: linear-gradient(200deg, rgb(242, 136, 133) 13.57%, rgb(233, 79, 102) 98.38%);
  }
  
  .accordion:nth-child(3) {
    background: linear-gradient(200deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
  }
  
  .accordion:nth-child(4) {
    background: linear-gradient(200deg, #c215d1 13.57%, #9813a1 98.38%);
  }

  @media (max-width: 480px) {
    .accordion {
      padding: 15px 20px 8px;
    }
  
    .title {
      font-size: 20px;
    }
  }

  .fixed {
   border: 10px solid #fff;
  }
  
  .normal {
    border: 5px solid #080808;
  }
  
  