<h1 class="new_amsterdam_custom_font text-center">Websites</h1>
<div class="row d-flex justify-content-center">


    <div class="col-lg-5 glass p-3 ms-lg-2 border mt-2 cursor-pointer">
        <a href="https://snizarahamed.github.io/Bank-Dashboard" target="_blank"
            style="text-decoration: none;color: inherit;">
            <img src="assets/web2.png" width="100%" class="rounded">
            <div class="pt-2">
                <h3 class="new_amsterdam_custom_font">Project - Bank Dashboard</h3>
                <div class="mt-2">
                    <span class="rounded bg-secondary text-white p-1">Angular</span>&nbsp;
                    <span class="rounded bg-secondary text-white p-1">Typescript</span>&nbsp;
                    <span class="rounded bg-secondary text-white p-1">Bulma</span>&nbsp;
                    <span class="rounded bg-secondary text-white p-1">SCSS</span>
                </div>

            </div>
        </a>

    </div>

    <div class="col-lg-6 d-flex justify-content-center align-items-center">
        <div class="ms-2">
            <h2 class="text-start new_amsterdam_custom_font">BANK DASHBOARD</h2>

       <p class="text-start mt-3" style="line-height: 1.8rem;">This dashboard gives a clear view of your finances at a glance. The bar chart shows your income and expenses each month, making it easy to track your cash flow. The recent transactions table lists your latest activities with details like company name, amount, and status. You can quickly switch between currencies using the country selection panel. The quick links provide instant access to common actions like sending money, checking invoices, or managing cards. Finally, the pie chart gives suggestions based on where you’re spending the most.</p>

        </div>
       

    </div>
</div>

